<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-10">
  <h1 th:text="${title}"></h1>
  hey there, that's my blog. I'll post some news about IT and my daily life!!

  <img src="  https://img.freepik.com/free-vector/organic-flat-blog-post-illustration-with-people_23-2148955260.jpg?size=626&ext=jpg&ga=GA1.2.1845651797.1630368000" class="img-fluid"
       alt="Sample image2">
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>